.portfolio-page{

padding:140px 8%;

}



.portfolio-page h1{

font-size:70px;

margin-bottom:50px;

}



.photo-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;

}



.photo-card{

position:relative;

overflow:hidden;

border-radius:18px;

height:450px;

}



.photo-card img{

width:100%;

height:100%;

object-fit:cover;

transition:.5s;

}



.photo-card:hover img{

transform:scale(1.08);

}



/* DOWNLOAD BUTTON */


.download-btn{

position:absolute;

right:20px;

bottom:20px;

background:white;

color:black;

padding:12px 25px;

border-radius:30px;

text-decoration:none;

font-weight:600;

font-size:14px;

transition:.3s;

}



.download-btn:hover{

background:#00aaff;

color:white;

}





@media(max-width:900px){


.photo-grid{

grid-template-columns:1fr;

}



.portfolio-page h1{

font-size:45px;

}


}
