/* ================= FEATURED STACK ================= */


.featured-showcase{

    padding:120px 8%;

}



.featured-stack{

    height:650px;

    position:relative;

    display:flex;

    justify-content:center;

    align-items:center;

}



.feature-photo{

    position:absolute;

    object-fit:cover;

    border-radius:20px;

    box-shadow:0 30px 60px rgba(0,0,0,.6);

    transition:.5s;

}



/* LEFT */


.feature-photo.left{

    width:380px;

    height:520px;

    left:15%;

    transform:rotate(-8deg);

    z-index:1;

}



/* CENTER */


.feature-photo.center{

    width:520px;

    height:650px;

    z-index:3;

}



/* RIGHT */


.feature-photo.right{

    width:300px;

    height:430px;

    right:15%;

    transform:rotate(8deg);

    z-index:1;

}



.feature-photo:hover{

    transform:scale(1.05);

    z-index:5;

}




@media(max-width:900px){


.featured-stack{

    height:450px;

}



.feature-photo.center{

    width:300px;

    height:420px;

}



.feature-photo.left{

    width:220px;

    height:330px;

    left:3%;

}



.feature-photo.right{

    width:180px;

    height:280px;

    right:3%;

}



}
